# Local Kubernetes overlay secrets template.
# Copy this file to .env.local.secrets in the same directory.
# Since it is named .env.*, it will be automatically ignored by Git.

POSTGRES_PASSWORD=
AI_TODO_WECHAT_APP_ID=
AI_TODO_WECHAT_APP_SECRET=
AI_TODO_WECHAT_REMINDER_TEMPLATE_ID=
